#dialog-template-editor {
  --width: 70%;

  &::part(title) {
    padding-bottom: var(--sl-spacing-x-small);
  }

  &::part(body) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &::part(footer) {
    padding-top: 0;
  }

  sl-tab-panel {
    padding: 0 var(--sl-spacing-2x-small);
  }

  .editor-form {
    .label-on-left {
      &:not(.width-manual) {
        --label-width: 4rem;
      }
      &.width-manual {
        @for $i from 1 through 18 {
          &.w-#{$i} {
            --label-width: #{$i + 1}rem;
          }
        }
      }

      --gap-width: 1rem;

      & + .label-on-left {
        margin-top: var(--sl-spacing-medium);
      }

      &::part(form-control) {
        display: grid;
        grid: auto / var(--label-width) 1fr;
        gap: var(--sl-spacing-3x-small) var(--gap-width);
        align-items: center;
      }

      &::part(form-control-label) {
        text-align: left;
      }

      &::part(form-control-help-text) {
        grid-column-start: 2;
      }
    }

    sl-textarea {
      &::part(textarea) {
        min-height: 80px;
      }
    }

    @media (min-height: 550px) {
      height: 300px;
      sl-textarea {
        &::part(textarea) {
          min-height: 200px;
        }
      }
    }

    @media (min-height: 900px) {
      height: 600px;
      sl-textarea {
        &::part(textarea) {
          min-height: 500px;
        }
      }
    }
  }

  .base-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr;
    gap: 0em 1em;
    grid-template-areas: "base-l base-r";

    .base-l {
      grid-area: base-l;
    }
    .base-r {
      grid-area: base-r;
      overflow-y: scroll;

      sl-button {
        margin-bottom: var(--sl-spacing-x-small);
      }
    }
  }
}
