.result {
  width: 100%;
  font-size: var(--sl-font-size-small);
  cursor: pointer;

  .inner {
    white-space: pre-wrap;
    padding: var(--sl-spacing-2x-small);

    .focus {
      margin: 0;
      font-weight: var(--sl-font-weight-bold);
      background-color: var(--sl-color-primary-200);
      border-radius: 0.15rem;
    }

    &:hover {
      background-color: var(--sl-color-primary-50);
    }

    &:active {
      @keyframes blink {
        0% {
          background-color: var(--sl-color-primary-50);
        }
        50% {
          background-color: transparent;
        }
        100% {
          background-color: var(--sl-color-primary-50); /* 元の色に戻る */
        }
      }

      animation: blink 1s infinite;
    }
  }
}
