:host {
  display: block;
  height: 100%;
}

.toolbar {
  sl-menu {
    sl-menu-item {
      &.delete {
        &::part(base) {
          color: var(--sl-color-danger-500);
        }
      }
    }
  }
}

.contents {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  //gap: var(--sl-spacing-x-small);
  min-height: 0;
}
