:host {
  display: block;
  height: 100%;
}

.fg-list-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 0;

  .button-group-toolbar {
    flex: 0 0 auto;
    min-height: 0;
    margin-bottom: var(--sl-spacing-small);

    sl-button-group {
      &:not(:last-of-type) {
        margin-right: var(--sl-spacing-x-small);
      }

      sl-button[disabled]::part(base) {
        opacity: 1; /* ボタン全体の透明度は下げず、中身だけ薄くするならこれ */
        color: var(--sl-color-neutral-300);
      }
    }

    sl-menu {
      sl-menu-item {
        &.delete {
          &::part(base) {
            color: var(--sl-color-danger-500);
          }
        }
      }
    }
  }

  .contents {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: var(--sl-spacing-x-small);
    min-height: 0;

    &.scrollable {
      overflow-y: scroll;
      padding-right: var(--sl-spacing-x-small);

      // Firefox用のスクロールバースタイル
      scrollbar-width: thin;
      scrollbar-color: var(--sl-color-neutral-300) transparent;

      // WebKit系ブラウザ用のスクロールバースタイル
      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: var(--sl-border-radius-medium);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--sl-color-neutral-300);
        border-radius: var(--sl-border-radius-medium);
        border: 2px solid transparent;
        background-clip: padding-box;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: var(--sl-color-neutral-400);
        }

        &:active {
          background-color: var(--sl-color-neutral-500);
        }
      }
    }
  }
}
