:host {
  display: block;
  height: 100vh;
  width: 100vw;
  font-family: var(--sl-font-mono);
  background-color: var(--sl-color-neutral-100);
  color: var(--sl-color-neutral-900);
}

.fg-container {
  display: grid;
  grid-template-rows: 30px 1fr 20px;
  grid-template-columns: 320px 1fr;
  grid-template-areas:
    "fg-header-area fg-header-area"
    "fg-list-area fg-contents-area"
    "fg-footer-area fg-footer-area";
  gap: var(--sl-spacing-x-small) 0;
  background-color: var(--sl-color-neutral-100);
  height: 100%;

  .fg-header-area {
    grid-area: fg-header-area;
    display: flex;
    align-items: center;
    background-color: var(--sl-color-neutral-1000);

    .header-button {
      color: var(--sl-color-neutral-0);
      font-size: var(--sl-font-size-large);
    }

    .app-name {
      color: var(--sl-color-neutral-0);
      font-size: var(--sl-font-size-large);
      font-weight: var(--sl-font-weight-bold);
    }

    sl-drawer {
      sl-tab-group {
        sl-tab {
          sl-icon {
            margin-right: var(--sl-spacing-2x-small);
          }
        }
      }

      .group {
        border: 1px solid var(--sl-color-neutral-300);
        border-radius: var(--sl-spacing-2x-small);
        padding: var(--sl-spacing-large) var(--sl-spacing-small);

        .group-title {
          margin-bottom: var(--sl-spacing-large);

          display: flex;
          align-items: center;
          justify-content: var(--sl-spacing-2x-small);
          gap: 5px;

          sl-icon {
            margin-top: -2px;
          }
        }
      }
    }
  }

  .fg-list-area {
    grid-area: fg-list-area;
    height: 100%;
    min-height: 0;
    padding: 0 var(--sl-spacing-x-small);
    border-right: 1px solid var(--sl-color-neutral-400);
  }

  .fg-contents-area {
    grid-area: fg-contents-area;
    height: 100%;
    min-height: 0;
    padding: 0 var(--sl-spacing-x-small);
  }

  .fg-footer-area {
    grid-area: fg-footer-area;
    background-color: var(--sl-color-neutral-1000);
  }
}
