:host {
  display: block;
  height: 100vh;
  width: 100vw;
  font-family: var(--sl-font-mono);
  background-color: var(--sl-color-neutral-50);
  color: var(--sl-color-neutral-900);
}

.layout-grid-root {
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  gap: 1px;
  background-color: var(--sl-color-neutral-200);
  height: 100%;

  .laytou-grid {
    height: 100%;
    min-height: 0;
    background-color: var(--sl-color-neutral-0);
    padding: var(--sl-spacing-x-small);
    padding-top: none;
    display: flex;
    flex-direction: column;

    .header {
      font-size: var(--sl-font-size-large);
      font-weight: var(--sl-font-weight-semibold);
      margin-bottom: var(--sl-spacing-x-small);
      padding-bottom: var(--sl-spacing-x-small);
      border-bottom: 1px solid var(--sl-color-neutral-200);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .menu {
      margin-bottom: var(--sl-spacing-x-small);
      padding-bottom: var(--sl-spacing-x-small);
      display: flex;
      justify-content: space-between;
      align-items: center;

      sl-button-group {
        sl-button {
          svg {
            display: block;
            width: var(--sl-font-size-medium);
            height: var(--sl-font-size-medium);
          }
          &::part(base) {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    .contents {
      flex-grow: 1;
      flex-shrink: 1;
      width: 100%;
      min-height: 0;
      overflow-y: scroll;

      // Firefox用のスクロールバースタイル
      scrollbar-width: thin;
      scrollbar-color: var(--sl-color-neutral-300) transparent;

      // WebKit系ブラウザ用のスクロールバースタイル
      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: var(--sl-border-radius-medium);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--sl-color-neutral-300);
        border-radius: var(--sl-border-radius-medium);
        border: 2px solid transparent;
        background-clip: padding-box;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: var(--sl-color-neutral-400);
        }

        &:active {
          background-color: var(--sl-color-neutral-500);
        }
      }
    }
  }

  #template-editor {
    --width: 60%;

    .spacing-bottom {
      margin-bottom: var(--sl-spacing-x-small);
    }

    &::part(body) {
      padding-top: 0;
      padding-bottom: 0;
    }

    sl-button {
      svg {
        display: block;
      }
      &::part(base) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
