:host {
  display: block;
  height: 100vh;
  width: 100vw;
  font-family: var(--sl-font-mono);
  background-color: var(--sl-color-neutral-50);
  color: var(--sl-color-neutral-900);
}

.fg-container {
  display: grid;
  grid-template-rows: 30px 1fr 20px;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    "fg-header-area fg-header-area"
    "fg-list-area fg-contents-area"
    "fg-fotter-area fg-fotter-area";
  gap: var(--sl-spacing-x-small) 0;
  background-color: var(--sl-color-neutral-200);
  height: 100%;

  .fg-header-area {
    grid-area: fg-header-area;
    display: flex;
    align-items: center;
    background-color: var(--sl-color-neutral-1000);

    .header-button {
      color: var(--sl-color-neutral-0);
      font-size: var(--sl-font-size-large);
    }

    .app-name {
      color: var(--sl-color-neutral-0);
      font-size: var(--sl-font-size-large);
      font-weight: var(--sl-font-weight-bold);
    }
  }

  .fg-list-area {
    grid-area: fg-list-area;
    padding: 0 var(--sl-spacing-x-small);
    border-right: 1px solid var(--sl-color-neutral-400);
  }

  .fg-contents-area {
    grid-area: fg-contents-area;
    padding: 0 var(--sl-spacing-x-small);
  }

  .fg-fotter-area {
    grid-area: fg-fotter-area;
    background-color: var(--sl-color-neutral-1000);
  }

  .dummy {
    background-color: #00ff00;
  }
}
